In [1]:
import pandas as pd

In [2]:
import sys
print(sys.executable)

/Users/amy/Desktop/pixi_dir/.pixi/envs/default/bin/python

In [3]:
data = pd.DataFrame({'animal': ['alligator', 'bee', 'falcon', 'lion',
                   'monkey', 'parrot', 'shark', 'whale', 'zebra']}) 

data

      animal
0  alligator
1        bee
2     falcon
3       lion
4     monkey
5     parrot
6      shark
7      whale
8      zebra